<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GitHubFeedMonkeyTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GitHubFeedUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6073FDD51F87D20A00DB7982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6073FDE91F87D20A00DB7982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6073FDF41F87D20A00DB7982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6073FE1F1F87EBF700DB7982</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
